<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<div [formGroup]="form">
  <div *ngIf="days" formArrayName="days">

    <div *ngFor="let condition of days.controls; let i=index" [formGroupName]="i" style="border:1px solid red;">


      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" formControlName="days"
            class="custom-control-input" [value]="ACCEPTABILITY.ALL" (click)="clickMe('All')">
        <label class="custom-control-label" for="{{ 'acceptable' + i}}">All days</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline" >
        <input type="radio" formControlName="days"
            class="custom-control-input" [value]="ACCEPTABILITY.FIVE" (click)="clickMe('Five')">
        <label class="custom-control-label" for="{{ 'unacceptable' + i}}">Week Days</label>
      </div>
        <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" formControlName="days" (click)="clickMe('Two')"
            class="custom-control-input" [value]="ACCEPTABILITY.TWO">
        <label class="custom-control-label" for="{{ 'unacceptable' + i}}">Week ends</label>
      </div>
        <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" formControlName="days" (click)="clickMe('Any')"
            class="custom-control-input" [value]="ACCEPTABILITY.ANY">
        <label class="custom-control-label" for="{{ 'unacceptable' + i}}">Custom</label>
      </div>
  <table>
	<tr *ngFor="let user of users">
		<td>
			<button [disabled]="stopEvent" [ngClass]="{'btn btn-danger':!user.active, 'btn btn-success':user.active}" formArrayName="dayArray" (click)="click(user,user.id)"> {{user.active ? user.name:user.name}}
    </button>
		</td>
	</tr>
</table>
    </div>

    <button type="button" class="btn btn-outline-dark btn-block" (click)="addCondition()">
            <i class="fa fa-plus fa-lg mr-3"></i>ADD A NEW CONDITION</button>
  </div>

</div>

<div>
  <pre>{{ form.value | json }}</pre>
</div>